
img
{
    width:50%;
    margin-left:25%;
    margin-top:3%;
}

h3,h4
{
    text-align: center;
    margin-right:2%;
    font-style:italic;
    font-family:'sofia';
    color:rgb(142, 109, 47);
    
}




